---
title: Blog Title
layout: default
---

<!-- Displaying posts-->
{% for post in paginator.posts %}
<div id="posts">
    <a href="{{site.url}}{{site.baseurl}}{{post.url}}">
      <h3>{{post.title}}</h3>
    </a>
    <p>
        {{post.content}}
    </p>
    ~ {{post.date | date: "%-b %d %Y"}}
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}

  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next"> Next</a>
  {% else %}

  {% endif %}
</div>